<div class="cover-container d-flex h-100 p-3 flex-column">
  <main role="main" class="inner h-100 d-flex flex-column">
    
    <div>

      <div class="form-inline mb-2">
        <button type="button" class="btn btn-dark btn-sm mr-sm-1" (click)="dayBefore()">&lt;</button>
        <button type="button" class="btn btn-dark btn-sm mr-sm-1" (click)="setDate(null)">Today</button>
        <button type="button" class="btn btn-dark btn-sm mr-sm-1" (click)="dayAfter()">&gt;</button>
        <input type="date" name="selectedDate" class="form-control form-control-sm w-auto" [ngModel] ="selectedDate | date:'yyyy-MM-dd'" (change)="datePicker($event);">    
      </div>
  
      <div class="d-flex align-items-center">
        <div class="flex-grow-1 text-truncate">
          <h4 class="text-truncate">{{activeTask?.name}}</h4>
          <p class="font-weight-bold mb-auto">{{getDurationString(activeTask)}}</p>
        </div>
        <div class="text-right">
          <button *ngIf="activeTask" type="button" class="btn btn-danger" (click)="endTask(); clearSelection();">Stop</button>
        </div>
      </div>
  
      <div class="form-row pt-2 pb-3 pl-1 pr-1">
        <div class="flex-grow-1">
          <input name="taskName" type="text" class="form-control" placeholder="Task name" [(ngModel)]="newTask" (keyup.enter)="switchTask(newTask)" (click)="clearSelection()">
        </div>
        <div>
          <button *ngIf="!activeTask" type="button" class="ml-2 btn btn-success" (click)="beginTask(newTask)" [disabled]="!newTask">Start</button>
          <button *ngIf="activeTask" type="button" class="ml-2 btn btn-dark" (click)="switchTask(newTask)" [disabled]="!newTask">Switch</button>
        </div>
      </div>

    </div>

    <div class="flex-grow-1 d-flex flex-column scrollable">

      <div class="row task-list d-flex flex-column">
        <div class="col mh-100 d-flex flex-column">
          <div class="card scrollable mh-100 h-100">
  
            <ul *ngIf="!openTask" class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center" *ngFor="let task of todayTasks" (click)="selectTask(task)" (keyup.enter)="editTask()" (keyup.delete)="deleteTask()" [ngClass]="(selectedTask==task)?'active':''" tabindex="0" (dblclick)="editTask()">
                <span class="hours">{{task.start | date: 'HH:mm'}} - {{task.end | date: 'HH:mm'}}</span>
                <span class="text-truncate flex-grow-1">{{task.name}}</span>
                <span class="badge badge-dark badge-pill">{{getDurationPill(task)}}</span>
              </li>
            </ul>
  
            <div *ngIf="openTask" class="card-body">
              <form>
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label col-form-label-sm text-right">Task</label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control form-control-sm" [value]="openTask.name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label col-form-label-sm text-right">Start at</label>
                  <div class="col-sm-5">
                    <input type="time" class="form-control form-control-sm" [value]="openTask.start.getHours()+':'+openTask.start.getMinutes()">
                  </div>
                  <label class="col-sm-1 col-form-label col-form-label-sm text-right">End at</label>
                  <div class="col-sm-5">
                    <input type="time" class="form-control form-control-sm" [value]="openTask.end?.getHours()+':'+openTask.end?.getMinutes()">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col text-right">
                    <button type="button" class="btn btn-dark mr-1 btn-sm" (click)="clearSelection()">Cancel</button>
                    <button type="button" class="btn btn-success mr-1 btn-sm" (click)="saveTask()">Save</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask()">Delete</button>
                  </div>
                </div>
              </form>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="row pt-3 pb-3 totals d-flex flex-column">
        <div class="col mh-100 d-flex flex-column">
        
          <div class="row align-items-center">
            <div class="col">
              <h4>Totals</h4>          
            </div>
            <div class="col-3 text-right">
              <p class="font-weight-bold mb-auto">{{totalHours}}h</p>
            </div>
          </div>
          <div class="totals-overview scrollable mh-100">
            <div class="row no-gutters" *ngFor="let taskTotal of totals">
              <div class="col-3 text-right text-truncate text-small pr-1">
                {{taskTotal[0].name}}
              </div>
              <div class="col">
                <div class="progress bg-dark mb-1">
                  <div [ngClass]="(taskTotal[0].active)?'progress-bar-striped progress-bar-animated':''" class="progress-bar text-right bg-secondary p-1" role="progressbar" [style]="'width:' + taskTotal[0].percent +'%'" [attr.aria-valuenow]="taskTotal[0].percent" aria-valuemin="0" aria-valuemax="100">{{millisToDecH(taskTotal[0].total)}}h</div>
                </div>          
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </div>

  </main>
</div>