$gerbil-darker-gray: #2f2f2f; //border dark
$gerbil-darkish-gray: #333; //badge dark
$gerbil-dark-gray: #383838; //bg
$gerbil-gray: #404040; //bg light
$gerbil-light-gray: #565656; //bg lighter
$gerbil-lighter-gray: #868686; //text muted
$gerbil-white: #cfcfcf; //text

$enable-shadows: false;

$gray-100: $gerbil-gray;
$dark: $gerbil-gray;

$body-bg: $gerbil-dark-gray;
$body-color: $gerbil-white; 

$card-bg: $gerbil-gray;
$card-border-color: $gerbil-darker-gray;

$list-group-color: $gerbil-white;
$list-group-bg: $gerbil-gray;

$input-bg: $gerbil-gray;
$input-color: $gerbil-white;
$input-border-color: $gerbil-darker-gray;
$input-placeholder-color: $gerbil-lighter-gray;
// $input-focus-bg: $gerbil-light-gray;
$input-focus-border-color: $gerbil-lighter-gray;
$input-focus-box-shadow: $gerbil-light-gray !important;
// $input-box-shadow: 0px 0px 0px 0.2rem;


$progress-bg: $gerbil-gray;
$progress-bar-color: $gerbil-white;
$progress-bar-bg: $gerbil-lighter-gray;

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.progress {
  height: 1.25rem;
}

.text-small {
  font-size: .75rem;
}

.hours {
  width: 75px;
  min-width: 75px;  
  margin-right: 0.5rem;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.task-list {
  height: 50%;
}

.totals {
  max-height: 50%;
}

.card {
  .list-group {    
    .list-group-item {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;

      &.list-group-item-gerbil {
        background-color: $gerbil-gray;
        color: $gerbil-lighter-gray;

        &:hover, &:active, &:focus {
          background-color: $gerbil-light-gray;
          color: $gerbil-white;
        }

        &:focus {
          background-color: $gerbil-lighter-gray;
          color: #fff;
        }
      }
    }
  }
}

.form-control.form-control-gerbil:focus {
  box-shadow: $gerbil-light-gray 0px 0px 0px 0.2rem !important;
}

.totals-overview {
  .progress-bar {
    overflow: initial;

    &.progress-bar-gerbil {
      background-color: $gerbil-light-gray !important;
    }
  }
}

.dropdown-menu {
  background-color: $gerbil-gray !important;
  color: $gerbil-lighter-gray !important;

  .dropdown-item {
    color: $gerbil-lighter-gray !important;
    &.active {
      background-color: $gerbil-light-gray !important;
      color: $gerbil-white !important;
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
