/*
 * Globals
 */
$bg: #383838;
$bg-light: #404040;
$bg-button: #494949;
$bg-lighter: #565656;

$border-dark: #2f2f2f;

$text: #cfcfcf;
$text-muted: #868686;

html,
body {
  height: 100%;
  background-color: $bg;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: $text;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.list-group-item-light {
  background-color: $bg-light;
  color: $text;
}

.bg-secondary {
  background-color: $bg-lighter !important;
}

.bg-dark {
  background-color: $bg-light !important;
}

.progress {
  height: 1.25rem;
}

.text-small {
  font-size: .75rem;
}

.btn-dark {
  background-color: $bg-button;
}

.hours {
  width: 75px;
  min-width: 75px;  
  margin-right: 0.5rem;
}

.card {
  overflow-y: auto;
  border-color: $border-dark;
  background-color: $bg-light;
  max-height: 75vh;

  .form-control {
    background-color: $bg;
    color: $text;
    border-color: $border-dark;
  
    &::placeholder {
      color: $text-muted;
    }
  
    &:focus {
      color: $text; 
      background-color: $bg;
      box-shadow: 0 0 0 .2rem rgba(134, 134, 134, 0.25);
      border-color: $border-dark;
    }
  }

  .list-group {    
    .list-group-item {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;

      &:hover{
        background-color: $bg-lighter;
        color: $text;
      }

      .badge-dark {
        background-color: #333;
      }
    }
  }
}

// .totals-overview {
//   height: 100px;
// }

.form-control {
  background-color: $bg-light;
  color: $text;
  border-color: $border-dark;

  &::placeholder {
    color: $text-muted;
  }

  &:focus {
    color: $text; 
    background-color: $bg-light;
    box-shadow: 0 0 0 .2rem rgba(134, 134, 134, 0.25);
    border-color: $border-dark;
  }
}